---
import Baselayout from "../layouts/Baselayout.astro"

import Hero from "../components/Hero.astro"
import About from "../components/About.astro"

import "../css/global.css"
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KugaiKento</title>
</head>
<body>
    <Baselayout>
	    <Hero/>
        <About/>
    </Baselayout>	
</body>
</html>


