---
import Baselayout from "../layouts/Baselayout.astro"
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KugaiKento</title>
</head>
<body>
    <Baselayout>
	
    </Baselayout>	
</body>
</html>


