---

---

<div class="about">
    <div class="container">
        <h2 class="about__title">About Us</h2>
    </div>
</div>


<style lang="scss">
    .about__title {
        padding: 40px 10px 30px 10px;
        font-size: clamp(2rem, 2rem + 2.5vw, 3.25rem);
        text-align: center;
    }
</style>