---
import Navigation from "./Navigation.astro";

const heading: string = "kugaikento"
const uppercaseHeading = heading.toUpperCase()
---

<header class="header">
    <div class="header__container">
        <h1 class="header__logo">{uppercaseHeading}</h1>
        <Navigation/>
    </div>
</header>


<style lang="scss">
.header {
  background-color: transparent;
  width: 100%;
  position: fixed; 
  top: 0;             
  left: 0;
  z-index: 1000;  

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    max-width: 1420px;
    margin: 0 auto;
  }

  &__logo {
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: #262626;
  }
}

</style>