---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import "../css/global.css"
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KentoKugai</title>
</head>
<body>
    <Header />
    <Hero/>
    <slot />
</body>
</html>